$icomoon-font-family: "app" !default;
$icomoon-font-path: "fonts" !default;

$app-rain-snow: unquote('"\\e909"');
$app-wind_0: unquote('"\\e900"');
$app-wind_1: unquote('"\\e901"');
$app-wind_2: unquote('"\\e902"');
$app-wind_3: unquote('"\\e903"');
$app-wind_4: unquote('"\\e904"');
$app-wind_5: unquote('"\\e905"');
$app-wind_6: unquote('"\\e906"');
$app-wind_7: unquote('"\\e907"');
$app-refresh: unquote('"\\e908"');

