$icomoon-font-family: "app" !default;
$icomoon-font-path: "fonts" !default;

$app-refresh: "\e908";
$app-wind_0: "\e900";
$app-wind_1: "\e901";
$app-wind_2: "\e902";
$app-wind_3: "\e903";
$app-wind_4: "\e904";
$app-wind_5: "\e905";
$app-wind_6: "\e906";
$app-wind_7: "\e907";

