# NativeScript application
hooks
platforms
node_modules/

certs
/package-lock.json
/report
/times.html
pnpm-lock.yaml
*.js.map
e2e/**/*.js
app/**/*.js
/mochawesome-report
/dist
/Gemfile.lock


# NativeScript Template
*.js.map
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
.env
.yarn
tmp/
._.DS_Store

# Visual Studio Code
.sentryclirc
/fastlane/report.xml
*.zip
dist
/webpack.stats.json
/.sentryclirc


**/Android/src/main/res/values*/strings.xml
App_Resources/Android/src/main/res/values*/strings.xml
**/iOS/*.lproj/Localizable.strings
**/iOS/*.lproj/InfoPlist.strings

timeline*.json
times*.html

mf_icons
test
**/*.old
app/assets/map/**
/firmware
/firmwares
/gpx
vendor

#alpimaps
app/**/*.LICENSE.txt
/app/assets/peakfinder/webapp.js
/API_KEYS.json
dev_assets/styles/osmxml_cleaned/*.xml
dev_assets/styles/inner_cleaned/*.xml
dev_assets/styles/mobile-sdk-styles
dev_assets/styles/base/fonts/osm.ttf
dev_assets/styles/inner_cleaned/fonts/materialdesignicons-webfont.ttf
dev_assets/styles/**/*.xml
dev_assets/styles/test*
