@use "sass:color";
@import './variables';

.lato {
    font-family: $lato-fontFamily;
}
.forecastfont {
    font-family: $forecastfont-fontFamily;
}
.wi {
    font-family: $wi-fontFamily;
}
.mdi {
    font-family: $mdi-fontFamily;
}

htmllabel,
canvaslabel,
label,
mdbutton {
    @extend .lato;
    color: black;
    .ns-dark &,
    .ns-black & {
        color: white;
    }
}
mdbutton {
    shape: round;
    padding: 0;
}

mdtextfield {
    color: black;
    backgroundcolor-color: white;
    placeholder-color: black;
    .ns-dark &,
    .ns-black & {
        color: white;
        backgroundcolor-color: black;
        placeholder-color: white;
    }
}

.dailyViewBorder {
    height: 1;
    background-color: #ccc;
    .ns-dark &,
    .ns-black & {
        background-color: #333;
    }
}

.alertView {
    margin: 10;
    padding-top: 10;
    padding-bottom: 10;
    border-radius: 4;
    background-color: #eee;
    .ns-dark & {
        background-color: #444;
    }
    .ns-black & {
        background-color: #222;
    }
}
page,
.weatherpage {
    status-bar-style: light;
    navigation-bar-color: black;
    status-bar-color: #ddd;
    background-color: white;

    .ns-dark &, .ns-dark &,
    &.ns-dark,  &.ns-dark  {
        status-bar-style: dark;
        // navigation-bar-color: black;
        status-bar-color: black;
        background-color: #1c1c1e;
    }
    
    .ns-black &, .ns-black &,
    &.ns-black,  &.ns-black   {
        status-bar-style: dark;
        // navigation-bar-color: black;
        status-bar-color: black;
        background-color: black;
    }
}
.actionBar {
    background-color: scale-color(white, $alpha: -30%);
    .ns-black & {
        background-color: scale-color(black, $alpha: -30%);
    }
    .ns-dark & {
        background-color: scale-color(#1c1c1e, $alpha: -30%);
    }
    height: $actionbar-height;
}

.actionBarButton {
    @extend .mdi;
    width: $actionbar-height;
    height: $actionbar-height;
    color: black;
    .ns-dark &,
    .ns-black & {
        color: white;
    }
    margin: 0;
    padding: 0;
    font-size: 32;
}

.actionBarTitle {
    // @extend .lato;
    font-size: 20;
    font-weight: 500;
    color: black;
    .ns-dark &,
    .ns-black & {
        color: white;
    }
}

.actionBarSubtitle {
    font-size: 13;
    color: #ffffff88;
}

.icon-btn {
    @extend .mdi;
    ripple-color: gray;
    color: black;
    .ns-dark &,
    .ns-black & {
        color: white;
        ripple-color: white;
    }
    width: $actionbar-button-height;
    height: $actionbar-button-height;
    font-size: 24;
    // margin: 0;
    // padding: 0;
}
