@import 'variables';
:export {
    accentColor: $accent-color;
    primaryColor: $primary-color;
    darkColor: $dark-color;
    // backgroundColor: $background-color;
    actionBarHeight: $actionbar-height;
    statusBarHeight: $status-bar-height;
    navigationBarHeight: $navigation-bar-height;
    actionBarButtonHeight: $actionbar-button-height;
    latoFontFamily: $lato-fontFamily;
    forecastFontFamily: $forecastfont-fontFamily;
    wiFontFamily:$wi-fontFamily;
    mdiFontFamily:$mdi-fontFamily;
}
