$primary-color: #FFC82F;
$accent-color: #FFC82F;
$dark-color: #032332;
$disabled-color: #404040;
$actionbar-button-height: 50;
$actionbar-height: 60;
$navigation-bar-height: 48;
$status-bar-height: 24;
$shon: #43b4e0;