$primary-color: #2196F3;
$accent-color: #FFC82F;
$dark-color: #032332;
$background-color: #303030;
$text-color: #ffffff;
$text-color-sub: #ffffff;
$disabled-color: #404040;
$actionbar-height: 60;
$actionbar-button-height: 40;