$icomoon-font-family: "weather-icons" !default;
$icomoon-font-path: "fonts" !default;

$wi-wi-alien: unquote('"\\e900"');
$wi-wi-barometer: unquote('"\\e901"');
$wi-wi-celsius: unquote('"\\e902"');
$wi-wi-cloud: unquote('"\\e903"');
$wi-wi-cloud-down: unquote('"\\e904"');
$wi-wi-cloud-refresh: unquote('"\\e905"');
$wi-wi-cloud-up: unquote('"\\e906"');
$wi-wi-cloudy: unquote('"\\e907"');
$wi-wi-cloudy-gusts: unquote('"\\e908"');
$wi-wi-cloudy-windy: unquote('"\\e909"');
$wi-wi-day-cloudy: unquote('"\\e90a"');
$wi-wi-day-cloudy-gusts: unquote('"\\e90b"');
$wi-wi-day-cloudy-high: unquote('"\\e90c"');
$wi-wi-day-cloudy-windy: unquote('"\\e90d"');
$wi-wi-day-fog: unquote('"\\e90e"');
$wi-wi-day-hail: unquote('"\\e90f"');
$wi-wi-day-haze: unquote('"\\e910"');
$wi-wi-day-light-wind: unquote('"\\e911"');
$wi-wi-day-lightning: unquote('"\\e912"');
$wi-wi-day-rain: unquote('"\\e913"');
$wi-wi-day-rain-mix: unquote('"\\e914"');
$wi-wi-day-rain-wind: unquote('"\\e915"');
$wi-wi-day-showers: unquote('"\\e916"');
$wi-wi-day-sleet: unquote('"\\e917"');
$wi-wi-day-sleet-storm: unquote('"\\e918"');
$wi-wi-day-snow: unquote('"\\e919"');
$wi-wi-day-snow-thunderstorm: unquote('"\\e91a"');
$wi-wi-day-snow-wind: unquote('"\\e91b"');
$wi-wi-day-sprinkle: unquote('"\\e91c"');
$wi-wi-day-storm-showers: unquote('"\\e91d"');
$wi-wi-day-sunny: unquote('"\\e91e"');
$wi-wi-day-sunny-overcast: unquote('"\\e91f"');
$wi-wi-day-thunderstorm: unquote('"\\e920"');
$wi-wi-day-windy: unquote('"\\e921"');
$wi-wi-degrees: unquote('"\\e922"');
$wi-wi-direction-down: unquote('"\\e923"');
$wi-wi-direction-down-left: unquote('"\\e924"');
$wi-wi-direction-down-right: unquote('"\\e925"');
$wi-wi-direction-left: unquote('"\\e926"');
$wi-wi-direction-right: unquote('"\\e927"');
$wi-wi-direction-up: unquote('"\\e928"');
$wi-wi-direction-up-left: unquote('"\\e929"');
$wi-wi-direction-up-right: unquote('"\\e92a"');
$wi-wi-dust: unquote('"\\e92b"');
$wi-wi-earthquake: unquote('"\\e92c"');
$wi-wi-fahrenheit: unquote('"\\e92d"');
$wi-wi-fire: unquote('"\\e92e"');
$wi-wi-flood: unquote('"\\e92f"');
$wi-wi-fog: unquote('"\\e930"');
$wi-wi-gale-warning: unquote('"\\e931"');
$wi-wi-hail: unquote('"\\e932"');
$wi-wi-horizon: unquote('"\\e933"');
$wi-wi-horizon-alt: unquote('"\\e934"');
$wi-wi-hot: unquote('"\\e935"');
$wi-wi-humidity: unquote('"\\e936"');
$wi-wi-hurricane: unquote('"\\e937"');
$wi-wi-hurricane-warning: unquote('"\\e938"');
$wi-wi-lightning: unquote('"\\e939"');
$wi-wi-lunar-eclipse: unquote('"\\e93a"');
$wi-wi-meteor: unquote('"\\e93b"');
$wi-wi-moon-alt-first-quarter: unquote('"\\e93c"');
$wi-wi-moon-alt-full: unquote('"\\e93d"');
$wi-wi-moon-alt-new: unquote('"\\e93e"');
$wi-wi-moon-alt-third-quarter: unquote('"\\e93f"');
$wi-wi-moon-alt-waning-crescent-1: unquote('"\\e940"');
$wi-wi-moon-alt-waning-crescent-2: unquote('"\\e941"');
$wi-wi-moon-alt-waning-crescent-3: unquote('"\\e942"');
$wi-wi-moon-alt-waning-crescent-4: unquote('"\\e943"');
$wi-wi-moon-alt-waning-crescent-5: unquote('"\\e944"');
$wi-wi-moon-alt-waning-crescent-6: unquote('"\\e945"');
$wi-wi-moon-alt-waning-gibbous-1: unquote('"\\e946"');
$wi-wi-moon-alt-waning-gibbous-2: unquote('"\\e947"');
$wi-wi-moon-alt-waning-gibbous-3: unquote('"\\e948"');
$wi-wi-moon-alt-waning-gibbous-4: unquote('"\\e949"');
$wi-wi-moon-alt-waning-gibbous-5: unquote('"\\e94a"');
$wi-wi-moon-alt-waning-gibbous-6: unquote('"\\e94b"');
$wi-wi-moon-alt-waxing-crescent-1: unquote('"\\e94c"');
$wi-wi-moon-alt-waxing-crescent-2: unquote('"\\e94d"');
$wi-wi-moon-alt-waxing-crescent-3: unquote('"\\e94e"');
$wi-wi-moon-alt-waxing-crescent-4: unquote('"\\e94f"');
$wi-wi-moon-alt-waxing-crescent-5: unquote('"\\e950"');
$wi-wi-moon-alt-waxing-crescent-6: unquote('"\\e951"');
$wi-wi-moon-alt-waxing-gibbous-1: unquote('"\\e952"');
$wi-wi-moon-alt-waxing-gibbous-2: unquote('"\\e953"');
$wi-wi-moon-alt-waxing-gibbous-3: unquote('"\\e954"');
$wi-wi-moon-alt-waxing-gibbous-4: unquote('"\\e955"');
$wi-wi-moon-alt-waxing-gibbous-5: unquote('"\\e956"');
$wi-wi-moon-alt-waxing-gibbous-6: unquote('"\\e957"');
$wi-wi-moon-first-quarter: unquote('"\\e958"');
$wi-wi-moon-full: unquote('"\\e959"');
$wi-wi-moon-new: unquote('"\\e95a"');
$wi-wi-moon-third-quarter: unquote('"\\e95b"');
$wi-wi-moon-waning-crescent-1: unquote('"\\e95c"');
$wi-wi-moon-waning-crescent-2: unquote('"\\e95d"');
$wi-wi-moon-waning-crescent-3: unquote('"\\e95e"');
$wi-wi-moon-waning-crescent-4: unquote('"\\e95f"');
$wi-wi-moon-waning-crescent-5: unquote('"\\e960"');
$wi-wi-moon-waning-crescent-6: unquote('"\\e961"');
$wi-wi-moon-waning-gibbous-1: unquote('"\\e962"');
$wi-wi-moon-waning-gibbous-2: unquote('"\\e963"');
$wi-wi-moon-waning-gibbous-3: unquote('"\\e964"');
$wi-wi-moon-waning-gibbous-4: unquote('"\\e965"');
$wi-wi-moon-waning-gibbous-5: unquote('"\\e966"');
$wi-wi-moon-waning-gibbous-6: unquote('"\\e967"');
$wi-wi-moon-waxing-6: unquote('"\\e968"');
$wi-wi-moon-waxing-crescent-1: unquote('"\\e969"');
$wi-wi-moon-waxing-crescent-2: unquote('"\\e96a"');
$wi-wi-moon-waxing-crescent-3: unquote('"\\e96b"');
$wi-wi-moon-waxing-crescent-4: unquote('"\\e96c"');
$wi-wi-moon-waxing-crescent-5: unquote('"\\e96d"');
$wi-wi-moon-waxing-gibbous-1: unquote('"\\e96e"');
$wi-wi-moon-waxing-gibbous-2: unquote('"\\e96f"');
$wi-wi-moon-waxing-gibbous-3: unquote('"\\e970"');
$wi-wi-moon-waxing-gibbous-4: unquote('"\\e971"');
$wi-wi-moon-waxing-gibbous-5: unquote('"\\e972"');
$wi-wi-moon-waxing-gibbous-6: unquote('"\\e973"');
$wi-wi-moonrise: unquote('"\\e974"');
$wi-wi-moonset: unquote('"\\e975"');
$wi-wi-na: unquote('"\\e976"');
$wi-wi-night-alt-cloudy: unquote('"\\e977"');
$wi-wi-night-alt-cloudy-gusts: unquote('"\\e978"');
$wi-wi-night-alt-cloudy-high: unquote('"\\e979"');
$wi-wi-night-alt-cloudy-windy: unquote('"\\e97a"');
$wi-wi-night-alt-hail: unquote('"\\e97b"');
$wi-wi-night-alt-lightning: unquote('"\\e97c"');
$wi-wi-night-alt-partly-cloudy: unquote('"\\e97d"');
$wi-wi-night-alt-rain: unquote('"\\e97e"');
$wi-wi-night-alt-rain-mix: unquote('"\\e97f"');
$wi-wi-night-alt-rain-wind: unquote('"\\e980"');
$wi-wi-night-alt-showers: unquote('"\\e981"');
$wi-wi-night-alt-sleet: unquote('"\\e982"');
$wi-wi-night-alt-sleet-storm: unquote('"\\e983"');
$wi-wi-night-alt-snow: unquote('"\\e984"');
$wi-wi-night-alt-snow-thunderstorm: unquote('"\\e985"');
$wi-wi-night-alt-snow-wind: unquote('"\\e986"');
$wi-wi-night-alt-sprinkle: unquote('"\\e987"');
$wi-wi-night-alt-storm-showers: unquote('"\\e988"');
$wi-wi-night-alt-thunderstorm: unquote('"\\e989"');
$wi-wi-night-clear: unquote('"\\e98a"');
$wi-wi-night-cloudy: unquote('"\\e98b"');
$wi-wi-night-cloudy-gusts: unquote('"\\e98c"');
$wi-wi-night-cloudy-high: unquote('"\\e98d"');
$wi-wi-night-cloudy-windy: unquote('"\\e98e"');
$wi-wi-night-fog: unquote('"\\e98f"');
$wi-wi-night-hail: unquote('"\\e990"');
$wi-wi-night-lightning: unquote('"\\e991"');
$wi-wi-night-partly-cloudy: unquote('"\\e992"');
$wi-wi-night-rain: unquote('"\\e993"');
$wi-wi-night-rain-mix: unquote('"\\e994"');
$wi-wi-night-rain-wind: unquote('"\\e995"');
$wi-wi-night-showers: unquote('"\\e996"');
$wi-wi-night-sleet: unquote('"\\e997"');
$wi-wi-night-sleet-storm: unquote('"\\e998"');
$wi-wi-night-snow: unquote('"\\e999"');
$wi-wi-night-snow-thunderstorm: unquote('"\\e99a"');
$wi-wi-night-snow-wind: unquote('"\\e99b"');
$wi-wi-night-sprinkle: unquote('"\\e99c"');
$wi-wi-night-storm-showers: unquote('"\\e99d"');
$wi-wi-night-thunderstorm: unquote('"\\e99e"');
$wi-wi-rain: unquote('"\\e99f"');
$wi-wi-rain-mix: unquote('"\\e9a0"');
$wi-wi-rain-wind: unquote('"\\e9a1"');
$wi-wi-raindrop: unquote('"\\e9a2"');
$wi-wi-raindrop-snowflake: unquote('"\\e9a3"');
$wi-wi-raindrops: unquote('"\\e9a4"');
$wi-wi-refresh: unquote('"\\e9a5"');
$wi-wi-refresh-alt: unquote('"\\e9a6"');
$wi-wi-sandstorm: unquote('"\\e9a7"');
$wi-wi-showers: unquote('"\\e9a8"');
$wi-wi-sleet: unquote('"\\e9a9"');
$wi-wi-small-craft-advisory: unquote('"\\e9aa"');
$wi-wi-smog: unquote('"\\e9ab"');
$wi-wi-smoke: unquote('"\\e9ac"');
$wi-wi-snow: unquote('"\\e9ad"');
$wi-wi-snow-wind: unquote('"\\e9ae"');
$wi-wi-snowflake-cold: unquote('"\\e9af"');
$wi-wi-solar-eclipse: unquote('"\\e9b0"');
$wi-wi-sprinkle: unquote('"\\e9b1"');
$wi-wi-stars: unquote('"\\e9b2"');
$wi-wi-storm-showers: unquote('"\\e9b3"');
$wi-wi-storm-warning: unquote('"\\e9b4"');
$wi-wi-strong-wind: unquote('"\\e9b5"');
$wi-wi-sunrise: unquote('"\\e9b6"');
$wi-wi-sunset: unquote('"\\e9b7"');
$wi-wi-thermometer: unquote('"\\e9b8"');
$wi-wi-thermometer-exterior: unquote('"\\e9b9"');
$wi-wi-thermometer-internal: unquote('"\\e9ba"');
$wi-wi-thunderstorm: unquote('"\\e9bb"');
$wi-wi-time-1: unquote('"\\e9bc"');
$wi-wi-time-2: unquote('"\\e9bd"');
$wi-wi-time-3: unquote('"\\e9be"');
$wi-wi-time-4: unquote('"\\e9bf"');
$wi-wi-time-5: unquote('"\\e9c0"');
$wi-wi-time-6: unquote('"\\e9c1"');
$wi-wi-time-7: unquote('"\\e9c2"');
$wi-wi-time-8: unquote('"\\e9c3"');
$wi-wi-time-9: unquote('"\\e9c4"');
$wi-wi-time-10: unquote('"\\e9c5"');
$wi-wi-time-11: unquote('"\\e9c6"');
$wi-wi-time-12: unquote('"\\e9c7"');
$wi-wi-tornado: unquote('"\\e9c8"');
$wi-wi-train: unquote('"\\e9c9"');
$wi-wi-tsunami: unquote('"\\e9ca"');
$wi-wi-umbrella: unquote('"\\e9cb"');
$wi-wi-volcano: unquote('"\\e9cc"');
$wi-wi-wind-beaufort-0: unquote('"\\e9cd"');
$wi-wi-wind-beaufort-1: unquote('"\\e9ce"');
$wi-wi-wind-beaufort-2: unquote('"\\e9cf"');
$wi-wi-wind-beaufort-3: unquote('"\\e9d0"');
$wi-wi-wind-beaufort-4: unquote('"\\e9d1"');
$wi-wi-wind-beaufort-5: unquote('"\\e9d2"');
$wi-wi-wind-beaufort-6: unquote('"\\e9d3"');
$wi-wi-wind-beaufort-7: unquote('"\\e9d4"');
$wi-wi-wind-beaufort-8: unquote('"\\e9d5"');
$wi-wi-wind-beaufort-9: unquote('"\\e9d6"');
$wi-wi-wind-beaufort-10: unquote('"\\e9d7"');
$wi-wi-wind-beaufort-11: unquote('"\\e9d8"');
$wi-wi-wind-beaufort-12: unquote('"\\e9d9"');
$wi-wi-wind-deg: unquote('"\\e9da"');
$wi-wi-windy: unquote('"\\e9db"');

