<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Root</string>
        <key>Title</key>
        <string>settings</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>General</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>theme</string>
                <key>Key</key>
                <string>theme</string>
                <key>DefaultValue</key>
                <string>dark</string>
                <key>Values</key>
                <array>
                    <string>auto</string>
                    <string>light</string>
                    <string>dark</string>
                    <string>black</string>
                </array>
                <key>Titles</key>
                <array>
                    <string>theme.auto</string>
                    <string>theme.light</string>
                    <string>theme.dark</string>
                    <string>theme.black</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>provider</string>
                <key>Key</key>
                <string>provider</string>
                <key>DefaultValue</key>
                <string>openweathermap</string>
                <key>Values</key>
                <array>
                    <string>openweathermap</string>
                    <string>meteofrance</string>
                </array>
                <key>Titles</key>
                <array>
                    <string>provider.openweathermap</string>
                    <string>provider.meteofrance</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>animations</string>
                <key>DefaultValue</key>
                <false/>
                <key>Key</key>
                <string>animations</string>
                <key>TrueValue</key>
                <true/>
                <key>FalseValue</key>
                <false/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>language</string>
                <key>Key</key>
                <string>language</string>
                <key>DefaultValue</key>
                <string>auto</string>
                <key>Values</key>
                <array>
                    <string>auto</string>
                    <string>en</string>
                    <string>fr</string>
                    <string>es</string>
                </array>
                <key>Titles</key>
                <array>
                    <string>auto</string>
                    <string>english</string>
                    <string>french</string>
                    <string>spanish</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
