name: 'release'

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        default: patch
        description: What kind of version upgrade
        options: 
        - none
        - code
        - patch
        - minor
        - major
      ios:
        description: 'iOS'
        required: true
        default: true
        type: boolean
      android:
        description: 'Android'
        required: true
        default: true
        type: boolean
      publish:
        description: "Should we publish?"
        required: true
        type: boolean
        default: true
      github:
        description: "Should we publish on Github?"
        default: true
        required: true
        type: boolean
      sentry:
        description: "Should we use sentry?"
        default: true
        required: true
        type: boolean

jobs:
  release-android:
    uses: Akylas/app-tools/.github/workflows/release_android.yml@main
    if: github.event.inputs.android == 'true'
    with:
      release_type: ${{ github.event.inputs.release_type }}
      publish: ${{ github.event.inputs.publish }}
      github: ${{ github.event.inputs.github }}
      sentry: ${{ github.event.inputs.sentry }}
    secrets: inherit

  release-ios:
    uses: Akylas/app-tools/.github/workflows/release_ios.yml@main
    if: github.event.inputs.ios == 'true'
    with:
      release_type: ${{ github.event.inputs.release_type }}
      publish: ${{ github.event.inputs.publish }}
      github: ${{ github.event.inputs.github }}
      sentry: ${{ github.event.inputs.sentry }}
    secrets: inherit
    