<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">
    <supports-screens android:smallScreens="true" android:normalScreens="true"
        android:largeScreens="true" android:xlargeScreens="true" />
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-permission android:name="akylas.alpi.maps.broadcast" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <!-- <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"
        tools:replace="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <permission android:name="__PACKAGE__.broadcast"
        android:protectionLevel="signatureOrSystem"></permission>
    <application android:requestLegacyExternalStorage="true"
        android:name="com.tns.NativeScriptApplication" android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
        android:theme="@style/AppTheme" android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:label="@string/title_activity_kimera"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|locale|uiMode"
            android:theme="@style/LaunchScreenTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:launchMode="singleTask" android:exported="true">
            <meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tns.ErrorReportActivity" />
        <!-- <activity android:name="com.nativescript.preferences.NativescriptSettingsActivity"
        android:theme="@style/SettingsTheme" android:exported="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|locale|uiMode"/> -->
        <activity android:name=".FloatingActivity" android:theme="@style/FloatingActivityTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|locale|uiMode"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:launchMode="singleTop" android:noHistory="true" android:taskAffinity=""
            android:excludeFromRecents="true" tools:ignore="ExportedActivity"
            android:exported="true" android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="weather" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="__PACKAGE__.provider" android:exported="false"
            android:grantUriPermissions="true" tools:replace="android:authorities">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" tools:replace="android:resource" />
        </provider>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />
        <meta-data android:name="io.sentry.anr.enable" android:value="true" />
        <meta-data android:name="io.sentry.breadcrumbs.activity-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.system-events" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-components" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="false" />
        <receiver android:name=".CommandReceiver" android:enabled="true" android:exported="true"
            android:permission="__PACKAGE__.broadcast">
            <intent-filter>
                <action android:name="__PACKAGE__.QUERY_WEATHER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>